footer {
    background: #1450a0;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
    margin-top: 200px;
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer__content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer__content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 14px;
}
.footer__socials  {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer__socials li {
    margin: 0 10px;
}
.footer__socials a {
    text-align: none;
    color: #fff;
}
.footer__socials a {
    font-size: 1.1rem;
}
.footer__bottom {
    background: #ff6d00;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer__bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer__back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

@media (max-width: 768px) {
    footer {
        margin-top: 50px;
    }
}