doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
    style
            include ../../public/css/main.css
    body
        div.container
            header.header
                a(href="/api/v1/product/index").header__logo
                    img(src="../../public/img/Personalized-logo.png", alt="Cosmic Toys Logo")
                input(type="checkbox")#menu-bar
                label(for="menu-bar") Menu
                nav.header__navbar
                    ul
                        li
                            a(href="/api/v1/product/index") Home 
                        li
                            a(href=("#")) Discover
                        li
                            a(href=("/api/v1/about")) About
                        li
                            a(href=("/api/v1/contact")) Contact
                        li
                            a(href=("#")) Admin
                                ul
                                    li
                                        a(href="/api/v1/user/users") Users 
                                    li 
                                        a(href="/api/v1/auth/register") Upload User
                                    li
                                        a(href="/api/v1/product/new-product") Upload Product 

            main.contact
                div.contact__box
                    form(action="", method="post").contact__right
                        h2 Contact Us
                        input(type="text" placeholder="Your Name")
                        input(type="text" placeholder="Email")
                        input(type="text" placeholder="Phone number")
                        textarea(placeholder="Message", cols="30", rows="10")#message
                        button(type="submit") send

            footer.footer
                div.footer__content
                    h3 Cosmic Toys
                    p 
                    ul.footer__socials 
                        li
                            a(href="") LinkedIn
                        li
                            a(href="") Facebook
                        li
                            a(href="") Instagram
                div.footer__bottom 
                    p copyright @2023 Andres Santiago
                a(href="").footer__back Go Back