.contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-top: 100px;
}

.contact__box {
    max-width: 850px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.contact__right {
    padding: 25px 40px;
}
.contact__right h2 {
    position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.contact__right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ff6d00;
}
.contact__right input {
    width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.contact__right input:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.contact__right input:focus {
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.contact__right textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: .3s;
}
.contact__right textarea:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.contact__right button {
    width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ff6d00;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.contact__right button:hover {
    background-color: #27ae60;
}

@media screen and (max-width: 880px){
	.contact__box{
		grid-template-columns: 1fr;
	}
	.contact__left{
		height: 200px;
	}
}